.card-info{
    background-color: azure;
}
.card-info:hover{
    background-color: rgba(15, 11, 219, 0.849);
    color: antiquewhite;
    
}


.shahin{
    position: relative;
    z-index:1 ;
}

.taniya{
    position: absolute;
    top: -35px;
    left: 15px;
    z-index:2 ;
}
.hot{

background-image: linear-gradient(blue,yellow);
font-weight: 500;
color: white;
text-align: justify;
padding: 5px;
width: 130px;
height: 40px;
align-items: center;
display: flex;
justify-content: center;

}
